@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,600;0,800;1,400&family=Poppins:ital,wght@0,400;0,700;0,800;1,800&family=Roboto:wght@300;500;900&display=swap');

.bg-size {
    width: 100vw;
    height: 100vh;
}

.custom-border-radius {
    border-radius: 20px 20px 150px 20px;
}

.purple {
    color: hsl(259, 100%, 65%);
}

.bg-purple {
    background-color: hsl(259, 100%, 65%);
    color: white;
}

.font {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 3rem;
}

.input-font {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.input-width {
    width: 80%;
}

.size {
    /* border: 1px solid black; */
    height: 65vh;
    width: 350px;
}

.custom-form {
    position: relative;
    /* border: 1px solid blue; */
}

.custom-btn {
    position: absolute;
    right: 110px;
    bottom: -35px;
    opacity: 100%;
    font-size: 20px;
}

.btn:hover {
    background-color: white;
    color: hsl(259, 100%, 65%);
}

.light-grey {
    font-family: 'Poppins', sans-serif;
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}

.custom-label {
    padding-bottom: 5px;
    font-size: 10px;
    letter-spacing: 2px;
}

.custom-border {
    width: 90%;
    margin: 15px auto;
}

.btn-disabled{
    opacity: 100%;
    background-color: gray;
    color: black;
    border: none;
}

@media (min-width: 460px) {
    .size {
        height: 70vh;
        width: 450px;
    }

    .custom-btn {
        right: 30px;

    }

    .input-font {
        font-size: 20px;
    }

    .custom-label {
        font-size: 12px;
    }

    .font {
        font-size: 3.2rem;
    }
    .custom-border {
        width: 80%;
    }
}